In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.formula.api as smf
from statsmodels.graphics.regressionplots import influence_plot
import numpy as np

In [3]:
# Read the data from csv file
cars = pd.read_csv("Cars.csv")
cars.head()

   HP        MPG  VOL          SP         WT
0  49  53.700681   89  104.185353  28.762059
1  55  50.013401   92  105.461264  30.466833
2  55  50.013401   92  105.461264  30.193597
3  70  45.696322   92  113.461264  30.632114
4  53  50.504232   92  104.461264  29.889149

In [5]:
# Hp = Horse power of engine
# MPG = Miles per gallon
# VOL = Volume
# WT = Weight
# SP = Top speed of Car

In [6]:
cars = pd.DataFrame(cars, columns=["Hp","VOL","SP","WT","MPG"])
cars.head()

   Hp  VOL          SP         WT        MPG
0 NaN   89  104.185353  28.762059  53.700681
1 NaN   92  105.461264  30.466833  50.013401
2 NaN   92  105.461264  30.193597  50.013401
3 NaN   92  113.461264  30.632114  45.696322
4 NaN   92  104.461264  29.889149  50.504232